<section id="formulario">

    <form action="/dashboard-admin/editar/<%= movies._id %>" method="post">
        <label for="title">Título:</label>
        <input type="text" id="titulo" name="titulo" value="<%= movies.title %>">

        <label for="image">Imagen (URL):</label>
        <input type="url" id="image" value="<%= movies.image %>">
      
        <label for="year">Año:</label>
        <input type="number" id="year" name="year" value="<%= movies.year %>">
      
        <label for="directors">Director:</label>
        <input type="text" id="directors" name="directors" value="<%= movies.directors %>">
      
        <label for="stars">Actores principales:</label>
        <input type="text" id="stars" name="stars" placeholder="Actores" value="<%= movies.stars %>">
      
        <label for="directors">Genero:</label>
        <input type="text" id="directors" name="directors" value="<%= movies.directors %>">
      
        <label for="runtimeStr">Duración:</label>
        <input type="text" id="runtimeStr" name="runtimeStr" value="<%= movies.runtimeStr %>">
      
        <label for="plot">Sinopsis:</label>    
        <textarea name="plot" id="plot" cols="30" rows="10" placeholder="Introduza una sinopsis sobre la película que desea añadir"><%= movies.plot %></textarea>
      
        <input type="submit" value="Editar">
    </form>
</section>  